<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%=dayName %>
    </h1>

    <ul>
        <li>Complete lecture</li>
        <li>Goto Jim</li>
        <li>Light weight baby</li>
        <%for(var i=0; i<(newTask.length);i++){%>
            <li>
                <%= newTask[i]%>
            </li>
            <%}%>
                <li>
                    <form action="/" method="post">
                        <input type="text" name="task" id=" "><br>
                        <button type="submit">+</button>
                    </form>
                </li>
    </ul>



</body>

</html>