html {
  background-color: #d3ebcd;
  font-family: "San Francisco";
  background-image: -webkit-linear-gradient(12deg, #aedbce 50%, #d3ebcd 50%);
  min-width: 1000px;
}

h1 {
  color: white;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #aedbce;
  text-align: center;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  color: #aedbce;
}

form {
  text-align: center;
  padding: 10px;
}

input[type="checkbox"] {
  margin: 20px;
}

form {
  text-align: center;
  margin-left: 20px;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #aedbce;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #aedbce;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  margin-top: 100px;
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #635666;
}

a:visited {
  text-decoration: none;
  color: #635666;
}

a:hover {
  text-decoration: none;
  color: #635666;
}

a:active {
  text-decoration: none;
  color: #635666;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #aedbce;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #839aa8;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #aedbce 50%, #839aa8 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
